body{
    margin: 0 0 55px 0;
    background: rgb(234,205,255);
    background: radial-gradient(circle, rgba(234,205,255,1) 11%, rgba(255,202,132,1) 69%, rgba(198,255,250,1) 100%);
    font-family:'Pacifico', cursive;
    font-size: large;
}

.heading{
    color: #fff;
}

.row{
    width: 100%;
}
.container{
    height: 500px;
}
.timer{
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20rem;
    height: 20rem;
    background: transparent;
    border: 5px solid #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Pacifico', cursive;
    z-index: -1;
    /* color: #fff;
    text-align: center;
    width: 20rem;
    height: 20rem;
    border: 5px solid #fff;
    border-radius: 10rem;
    display: flex;
    justify-content: center;
    align-items: center; */
}
.timer:before{
    content:'';
    position: absolute;
    top: -3;
    left: -3;
    width: 100%;
    height: 100%;
    border: 10px solid transparent;
    border-top:5px solid rgba(43, 255, 202, 0.596);
    border-top:5px solid rgba(43, 255, 202, 0.596);
    border-radius: 50%;
}

.timer.active:before{
    animation: animateCircle 2s linear infinite;
}

@keyframes animateCircle{
    0%
    {
        transform: rotate(0deg);
    }
    100%
    {   
        transform: rotate(360deg);
    }
}

.icon{
    display:flex;
    justify-content:center;
    align-items:center;
    margin-top: 350px;
    z-index: -1;
}

.fa-play, .fa-redo-alt{
    color: oldlace;
    border: 2px solid transparent;
    padding: 1rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-play:hover, 
.fa-redo-alt:hover{
    color:oldlace;
    border: 2px solid white;
    transition: 0.3s ease;
}

.show_message{
    display: block;
    padding: 1rem 0;
    color: tomato;
    background: rgba(255, 255, 255, 0.692);
    border-radius: 0.5rem;
    transition: 0.5s;
}

.nav{
    left:0;
    bottom: 0;
    width: 100%;
    height: 55px;
    background-color: rgb(255, 229, 180);
    overflow-x: auto;
}

.nav__link{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    min-width: 70px;
    overflow: hidden;
    white-space: nowrap;
    font-family: 'Pacifico';
    font-size: 10px;
    color:rgb(255, 255, 255);
    text-decoration: none;
    -webkit-tap-highlight-color: transparent;
    transition: background-color 0.1s ease-in-out;
}

.nav__icon{
    font-size: 20px;
}
